@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --color-one: #b5ead7;
  --color-two: #364b44;
  --color-three: #99b0a8;
  --color-four: #dedbff;
  --color-five: #a6a4ca;
  --bg-gradient: radial-gradient(circle,
      #dedbff,
      #cbe0ff,
      #bae4ff,
      #aee8f9,
      #abeaec,
      #a6e5e7,
      #a1e1e3,
      #9cdcde,
      #93d0e1,
      #94c2df,
      #9cb3d8,
      #a6a4ca);
  --mem-width: 40rem;
  --desc-width: 30rem;
  --slide-duration: 1s;

}


body {
  background-image: var(--bg-gradient);
  color: var(--color-two);
  font-family: 'Rubik', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin: 0rem auto;
  width: var(--mem-width);
  height: 100vh;
}


.wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: repeat(5, 0rem) var(--mem-width) 5rem;
  grid-template-columns: 1fr;
  grid-template-areas: 'radio1''radio2''radio3''radio4''radio5''slider''caption';
}

input {
  opacity: 0;
  height: 0rem;
  width: 0rem;
  visibility: hidden;
}


.slider {
  width: var(--mem-width);
  height: var(--mem-width);
  grid-area: slider;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  /*   grid-template-areas: 'slide1 slide2 slide3 slide4 slide5'; */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.caption {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'description controls';
  grid-area: caption;
}



.slides {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.description {
  margin-top: 1rem;
  grid-area: description;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  /*   grid-template-areas: 'desc1 desc2 desc3 desc4 desc5'; */
  width: var(--desc-width);
  overflow: hidden;
}

.controls {
  margin-top: 1rem;
  justify-content: end;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

div.control {
  width: 0.8rem;
  height: 0.8rem;
  background: var(--color-two);
  border: solid;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

label {
  padding: 0.3rem;
}

label:hover {
  cursor: pointer;
}

label:hover>.control {
  filter: invert(90%);
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  -webkit-filter: invert(90%);
}

label:active>.control {
  transform: scale(1.3);
  filter: invert(90%);
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  -webkit-filter: invert(90%);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/* #region  Slider Sliding */
.slides {
  width: var(--mem-width);
  height: var(--mem-width);
  opacity: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}



#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5 {
  width: var(--mem-width);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease;
  -webkit-transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease;
  -moz-transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease;
  -ms-transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease;
  -o-transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

#slide1:not(:checked)~.slider>.slide1,
#slide2:not(:checked)~.slider>.slide2,
#slide3:not(:checked)~.slider>.slide3,
#slide4:not(:checked)~.slider>.slide4,
#slide5:not(:checked)~.slider>.slide5 {
  opacity: 0;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: opacity var(--slide-duration) ease-out, transform var(--slide-duration) cubic-bezier(0, -0.35, 1, -1);
  -webkit-transition: opacity var(--slide-duration) ease-out, transform var(--slide-duration) cubic-bezier(0, -0.35, 1, -1);
  -moz-transition: opacity var(--slide-duration) ease-out, transform var(--slide-duration) cubic-bezier(0, -0.35, 1, -1);
  -ms-transition: opacity var(--slide-duration) ease-out, transform var(--slide-duration) cubic-bezier(0, -0.35, 1, -1);
  -o-transition: opacity var(--slide-duration) ease-out, transform var(--slide-duration) cubic-bezier(0, -0.35, 1, -1);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

/* #endregion */


/* #region  Descriptin Sliding */

.desc {
  width: var(--desc-width);
  height: 4rem;
  font-size: 1.8rem;
  overflow: hidden;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#slide1:checked~.caption>.description>.desc1,
#slide2:checked~.caption>.description>.desc2,
#slide3:checked~.caption>.description>.desc3,
#slide4:checked~.caption>.description>.desc4,
#slide5:checked~.caption>.description>.desc5 {
  opacity: 1;
  height: 4rem;
  animation-name: font-on;
  animation-duration: var(--slide-duration);
  animation-timing-function: ease;
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
}

#slide1:not(:checked)~.slider~.caption>.description>.desc1,
#slide2:not(:checked)~.slider~.caption>.description>.desc2,
#slide3:not(:checked)~.slider~.caption>.description>.desc3,
#slide4:not(:checked)~.slider~.caption>.description>.desc4,
#slide5:not(:checked)~.slider~.caption>.description>.desc5 {
  opacity: 0;
  animation-name: font-off;
  animation-duration: var(--slide-duration);
  animation-timing-function: ease;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}


@keyframes font-on {
  0% {
    opacity: 1;
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -o-transform: translateY(-4rem);
  }

  100% {

    opacity: 1;
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
}

@keyframes font-off {
  0% {

    width: var(--desc-width);
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {

    width: var(--desc-width);
    transform: translateY(4rem);
    -webkit-transform: translateY(4rem);
    -moz-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    -o-transform: translateY(4rem);
    opacity: 0;
  }
}

/* #endregion */



#slide1:checked~.slider~.caption>.controls>.control1>.control,
#slide2:checked~.slider~.caption>.controls>.control2>.control,
#slide3:checked~.slider~.caption>.controls>.control3>.control,
#slide4:checked~.slider~.caption>.controls>.control4>.control,
#slide5:checked~.slider~.caption>.controls>.control5>.control {
  background: none;
}




/*  Grid Areas */
.controls {
  grid-area: controls;
}

.slide1 {
  background-image: URL(./assets/img/ihaveapaws.png);
  grid-area: slide1;
}

.slide2 {
  background-image: URL(./assets/img/cute-paws.png);
  grid-area: slide2;
}

.slide3 {
  background-image: URL(./assets/img/paws-jaws.png);
  grid-area: slide3;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

.slide4 {
  background-image: URL(./assets/img/jelly-paws.png);
  grid-area: slide4;
}

.slide5 {
  background-image: URL(./assets/img/teddy-paws.png);
  grid-area: slide5;
}

.desc1 {
  grid-area: desc1;
}

.desc2 {
  grid-area: desc2;
}

.desc3 {
  grid-area: desc3;
}

.desc4 {
  grid-area: desc4;
}

.desc5 {
  grid-area: desc5;
}

#radio1 {
  grid-area: radio1;
}

#radio2 {
  grid-area: radio2;
}

#radio3 {
  grid-area: radio3;
}

#radio4 {
  grid-area: radio4;
}

#radio5 {
  grid-area: radio5;
}


@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 1.6vw;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 2.2vw;
  }

  .caption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem;
    grid-template-areas: 'controls''description';
    grid-area: caption;
  }

  .wrapper {
    grid-template-rows: repeat(5, 0rem) var(--mem-width) 8rem;
  }

  .description,
  .desc {
    width: var(--mem-width);
  }

  .controls {
    justify-content: center;
  }

  div.control {
    width: 1rem;
    height: 1rem;
  }

  label {
    padding: 0.5rem;
  }

  label:hover>.control {
    filter: none;
  }

  label:active>.control {
    filter: invert(90%);
    -webkit-filter: invert(90%);
    -moz-filter: invert(90%);
    -webkit-filter: invert(90%);
  }

}
